.feature {
  background-color: #f5f6f9;
  margin-top: 150px;
  &__container {
    padding-bottom: 150px;
  }
  &__img {
    transform: translateY(-20%);
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 0 146px;
    background-image: url(../img/Pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    height: 259px;
  }
  &__heading {
    font-weight: 700;
    font-size: 5rem;
    max-width: 440px;
    line-height: 6rem;
  }

  &__desc {
    color: $primary-font-color;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-width: 359px;
    margin-block: 0 38px;
  }
}
